

.login {
    padding: 5%;
	top:25%;
	left:32%;
	position:fixed;	
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table-bg{
    padding: 10px;
    background-color: #fff;
	margin-bottom:20px;
}
.err-msg{
	color:#e00000;
	    margin-top: 20px;
    text-align: center;
	/*border:1px solid #34C06F;*/
	padding:10px;
	font-weight:600;
	font-size:19px;
}
.succ-msg {
    color: #34C06F;
    text-align: center;
    padding: 20px;
	font-size:19px;
	font-weight:600;
}
.chart-title {
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
    /* display: inline-block; */
    font-weight: bold;
	background: #1f2c36 none repeat scroll 0 0;
	color:#fff;
}
.user{margin-top:25%;}
.err{color:#e00000;}